
header {
  background-color: hwb(261 8% 44%);
  padding: 40px;
  text-align: center;
  text-decoration:underline;
  color: black;

}
.nav {
  
  color: #ab3f87;
  padding: 20px;
  text-decoration: none;
}
.nav ul {
  background-color: #dcd6d608;
  color:#ecc7dc55;
  text-decoration: none;
}

.nav ul li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}