*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border:border-box;
}
.navbar{
    height: 100px;
    background-color:#000000;
    color: white;
}
.nav-logo{
    height: 90px;
    width: 100px;
}
.logo{
    background-image: url("DNT.png");
    height: 90px;
    width: 100%;
    background-size: cover;
}
.border{
    border:2px solid transparent;

}
.boder:hover{
    border:2px solid white;
}
