body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .payment-options {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .payment-option {
    text-align: center;
  }
  
  img {
    width: 100px;
    height: 100px;
  }
  
  button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  